@media(max-width:1000px)
    .body
        background #f5deb3
        font-size 2em
    #btn1
        font-size 1.2em
@media(max-width:450px)
    .title
        margin-bottom 5%
        margin-top 5%
    #hr
        display none
@media(max-width:320px)
    .Registration--background
        height 100%
    .body
        font-size 1.3em
    #btn1
        font-size 1.3em
