@media (max-width:1400px)
    .container_nav
        width 100%
    .tovars__column1
        display grid
        grid-template-columns repeat(3,303px)
        grid-gap 50px
        grid-template-rows repeat(3,390px) 
@media (max-width:1200px)
    .container_nav
        width 100%
    .tovars__column1
        display grid
        grid-template-columns repeat(3,303px)
        grid-gap 50px
        grid-template-rows repeat(3,390px) 
@media (max-width:1050px)
    .container_nav
        width 100%
    .tovars__column1
        display grid
        grid-template-columns repeat(3,257px)
        grid-gap 30px
        grid-template-rows repeat(3,390px) 
@media (max-width:900px)
    .container_nav
        width 100%
    .tovars__column1
        display grid
        grid-template-columns repeat(2,250px)
        grid-gap 140px
        grid-template-rows repeat(6,390px) 
@media (max-width:800px)
    .container_nav
        width 100%
    .tovars__column1
        display grid
        grid-template-columns repeat(2,250px)
        grid-gap 100px
        grid-template-rows repeat(6,390px)
    .footer-menu ul
        font-size 13px
        width 100%
@media (max-width:700px)
    .container_nav
        width 100%
    .tovars__column1
        display grid
        grid-template-columns repeat(2,250px)
        grid-gap 70px
        grid-template-rows repeat(6,390px)
@media (max-width:700px)
    .container_nav
        width 100%
    .tovars__column1
        display grid
        grid-template-columns repeat(2,250px)
        grid-gap 70px
        grid-template-rows repeat(6,390px)      
@media (max-width:607px)
    .container_nav
        width 100%
    .tovars__column1
        display grid
        grid-template-columns repeat(1,252px)
        grid-gap 100px
        grid-template-rows repeat(12,390px)   
@media (max-width:607px) 
    .container_nav
        width 100%
    .tovars__column1
        display grid
        grid-template-columns repeat(1,252px)
        grid-gap 100px
        grid-template-rows repeat(12,390px) 
    .footer-blocks
        flex-direction column
        align-items center
    .footer-countries
        width 90%
    .footer-countries h2
        text-align center
    .footer-back
        height 80vh
@media (max-width:540px) and (max-height:740px)
    .footer-blocks
        flex-direction column
        align-items center
    .footer-countries
        width 90%
    .footer-countries h2
        text-align center
    .footer-back
        height 82vh
@media (max-height :1400px) and (min-height : 1350px)
    .footer-countries h2
        font-size 1.5em
    .footer-countries span
        font-size 1.4em
    .footer-countries P
        font-size 1.3em  
    .footer-back
        height 45vh
    .footer-menu span
        font-size 30px
    .footer-copy span
        font-size 24px
    .footer-menu ul
        font-size 23px
     