.container__about
    width 100%
    height 100%
    text-align center 
.header__1
    margin-top 8%
    color black
    font-size 53px
    font-family: 'Roboto', sans-serif
    font-weight 900
.logo
    margin-right 15px
    font-size 20px
.lg
    color white
    font-size 20px
.tx__1
    color black
    font-size 17px
    margin-top 15px
    font-weight 600
    margin-bottom 50px
.header__2
    margin-top 40px
    font-weight 900
    font-size 27px
.tx__2
    font-size 17px
    margin-top 15px
    font-weight 600
    margin-bottom 50px
.footer
    padding-top 45px
    margin: 30px 0;
    position: relative;
.footer-back
    z-index 0
    background-color #496e91
    height 50vh
    width 100%
    position absolute
.footer-blocks
    padding-top 50px
    display flex
    justify-content space-around
    position absolute
    z-index 1
.footer-line
    content ''
    width 100%
    height 2px
    background-color #4e4e4e
    display inline-block
    vertical-align middle
.footer-countries
    width 30%
    text-align left
.footer-countries h2
    color #fff
    font-size 1.25rem
    line-height 1.5
    padding-bottom 20px
.footer-countries span
    font-size .99rem
    line-height 1.5
    padding-bottom 20px
    color #000
    font-weight 600
.footer-countries p
    color #000
    font-size 15px
    line-height 1.5
    font-weight 550
.footer-content
    width 55%
.footer-info
    display flex
    flex-direction row
    justify-content space-around
    padding 30px 0
.footer-menu
    display flex
    justify-content left
    flex-direction column
    line-height 2
.footer-menu span
    font-weight 700
    color #333
    list-style none
    font-size 20px
.footer-menu a
    text-decoration none
    color #fff
    transition all .25s ease-out
.footer-menu a:hover
    color #333
.footer-menu ul
    margin 0
    padding 0
    color #333
    font-size 15px
    font-weight 700
.footer-contacts
    display: flex
    justify-content: left
    flex-direction: column
    line-height: 2
.footer-contacts span
    font-size 20px
    color: #333
    font-weight 700
.footer-links
    display: flex
    width: 150px
    justify-content: space-between
.footer-links a
    color #fff
    font-size 15px
.footer-copy
    margin-top 20px
    color #fff
