.container__about
    width 100%
    height 100%
    text-align center 
.header__1
    margin-top 8%
    color black
    font-size 53px
    font-family: 'Roboto', sans-serif
    font-weight 900
.logo
    margin-right 15px
    font-size 20px
    color red
.lg
    color white
    font-size 20px
.tx__1
    color black
    font-size 17px
    margin-top 15px
    font-weight 600
    margin-bottom 50px
.header__2
    margin-top 40px
    font-weight 900
    font-size 27px
.tx__2
    font-size 17px
    margin-top 15px
    font-weight 600
    margin-bottom 50px
