.space
    display flex
    flex-direction column
    justify-content center
    align-items center
    height 100vh
    font-size 1.2em
.body__lk
    display flex
    flex-direction column
    justify-content center
    align-items center
    background #c6c6c6
    
.title__lk
    display flex
    flex-direction column
    justify-content space-between
    align-items center
.block__recv
    display none
    flex-direction column
    justify-content center
    align-items center
.block__date
    display flex
    flex-direction column
#txt
    text-decoration none   
.pay,.address
    display flex
    flex-direction column
    justify-content center
    align-items center
#label__h2
    display flex
    justify-content center
    align-items center
    h2  
        display flex
        justify-content center
        align-items center
        align-items center
@media(max-width:350px)
    hr
        display none
    #select
        width 80%
