.space
    display flex
    flex-direction column
    justify-content center
    align-items center
    height 100vh
.body
    display flex
    justify-content center
    align-items center
    background #c6c6c6
    
