.space__tov
    display flex
    justify-content center
    align-items center
    background #c6c6c6
.place__tov
    display flex
    flex-direction column
    justify-content start
    align-items start
.size__tov
    display flex
    flex-direction column
    justify-content center
    
.input__tov
    display block
.word__tov 
    display block
    margin-left 20px
@media(max-width 500px)
    .space__tov
        flex-direction column
    .photo__tov
        margin-top 20px
